@import url('https://fonts.googleapis.com/css2? family= Inter:wght@600 & family= Poppins:wght@400;700 & display=swap');
       

  :root{   /*para definir uma cor,tamanho de letra,fonte como padrão para todo o arquivo */
         --azul-dnc: #0c70f2;
         --preto-dnc: #303030;
         --cinza-hover: #c9c9c9;

         --fonte-padrao:'Inter';
  }



       body {
            margin: 0px;    /* margem Externa*/
            padding: 0px;   /* margem Interna*/
            
            /*background: linear-gradient = para fazer o degrade na cor*/
            background: linear-gradient(180deg,rgb(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%),#303030;
                        
            background-repeat: no-repeat;

        }

         #principal {    /* estilo  menu de navegação */
            width: 100%;
            height: 100px;
            border: 1px solid black;
            background-color: var(--preto-dnc);
            display: flex;
            justify-content: space-between; /* define os espaços entre os elementos*/
            align-items: center;
            border-bottom:1px, solid #bababa;
         }
         
         #menu{       /* div do menu*/
            display: flex;  /* separa itens em colunas */
            width: 55%;
            justify-content: space-around; /* difine os espaços em volta dos elementos*/
            align-items: center;  /* alinhamento */
            margin-left:5%;
         }                
        
         #principal div a {  /* div dos links*/
            font-family: var(--fonte-padrao);
            font-size: 25px;
            font-weight: 600;
            color:white;
            text-decoration: none; 
         }

         #principal div a:hover{  /* seleção quando mause passar por cima do iten*/

            color: var(--cinza-hover);
         }

         #principal button{
            margin-right: 5%;   /*margin */
            background-color: var(--azul-dnc);
            border:0;

            height: 40px; /* altura*/
            width: 80px; /* lagura*/

            font-family: var(--fonte-padrao);
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height */

            color: #FFFFFF;
            box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25); /* box-shadow e o efeito sombra*/
            cursor:pointer

         }          
         /* para importar para index, <link rel="stylesheet" href="estilo.css"> */

         /*SEÇÃO PRINCIPAL DO SITE*/
      section{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         margin-top: 100px;
         margin-bottom: 100px;

      }

      header{
         color: white;
         font-family: var(--fonte-padrao);
      }

      header h1{
         text-transform: uppercase;
         font-size: 70px;
         font-weight: 600px;
         text-align: center;
         margin-bottom: 20px;
      }

      header h2{
         text-align: center;
         font-size: 35px;
         font-weight: 500px;
         margin-bottom: 100px;
      }
      header .invert{
         background-color: black;
         padding: 5px;
      }

      /* Estilização Formulario*/

      form{
         color:white;
         font-size: 30px;
         font-weight: 600;         
      }
      .form-group{
         display: flex;
         flex-direction: column;
         margin-top: 15px;
         margin-bottom: 15px;
      }
      form input{
         border-radius: 10px;
         height: 30px;
         border: 0px;
         font-size: 20px;
         padding: 8px;
         background-color: rgba(255, 255, 255, 0.9);
      }
      form label{
         margin:10px 0px 10px 0px ;
      }
      form input ::placeholder{  /* :: para pegar o placeholder , seletor de pseudo elemento */
         color:rgba(57, 57, 57, 0.5);
      }
      .checkbox-itens label{
            font-size: 25px;
      }
      .checkbox-itens{
         display: flex;
         justify-content: space-around;
         align-items: center;
      }
      input[type="checkbox"]{
         transform: scale(1.7);         
      }
      input[type="submit"]{
         background-color: rgba(12, 112, 242, 0.9);
         width: 100%;
         height: 45px;
         font-size: 25px;
         height: 600;
         color:white;
         margin-top: 100px;
         box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
         cursor: pointer;
      }

      /* estizando footer/rodapé */

      footer{
         width: 100%;
         background-color: var(--azul-dnc);
      }

      footer .linha1{
         display: flex;
         justify-content: space-around;
         align-items: center;
         
      }

      footer ul{
         
         list-style: none;
         /* margin: 0px; */
         padding: 0px;
         font-family: var(--fonte-padrao);     
         margin-top: 30px;
         margin-bottom: 25px;   
      
      }

      footer nav{      
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 25px;
      }

      footer h5{
         
         text-align: center;
         color: white;
         font-weight: 800px;
         font-size: 20px;
         margin-top: 10px;
         margin-bottom: 250x;
         background-color: var(--preto-dnc);
         border-radius: 10px;
         padding: 0px 10px 0px 10px;
      }

      #escola{
         margin-top:55px;
      }

      footer ul li{
         
         text-align: center;
         color: white;
         font-weight: 600;
         font-size: 20px;
         font-family: var(--fonte-padrao);
         margin-top: 10px;         
         margin-bottom: 25px;
         

      }

      footer ul li a{
         color: white;
         text-decoration: none;
      }

      footer .endereço{
         font-weight: 700;
         font-size: 18px;
         font-family: var(--fonte-padrao);
         color: white;
         text-align: center;
      }

      footer .linha2{
         height: 35px;
         display: flex;
         justify-content: center;
         margin: 0px;
         padding: 10px;         
      }

      footer .linha2 a{
         font-weight: 700;
         font-size: 20px;
         font-family: var(--fonte-padrao);
         color: white;        
         text-decoration: none;
         padding: 5px;     
                  
      }

      footer .linha2 a:first-child{
         border-right: 3px solid white;
      }

      footer .linha2 a:hover{
         color: var(--cinza-hover)
      }
